body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #616262;
  }
  
  form {
    border: 1px solid #f1e3e3;
    padding: 100px;
    background-color: #e5d5d5;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  label {
    font-weight: bold;
    color: #121111;
  }
  
  input {
    margin: 5px 0;
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  